# SourceControlGenerator #
##########################
SourceControlGenerator.json

# Levels
######################
Mods/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/Levels/*
Mods/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/Globals/*
Editor/Mods/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/Levels/*

# Story files        #
######################
*.div
*.raw

# Asset Folders      #
######################
Public/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/Assets/*
#Public/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/GUI/*
_ProjectFiles/_Backup/*
_ProjectFiles/LSF_Edit/*
_ProjectFiles/PageFiles/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*

# Assets             #
######################
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.jpg
*.jpeg
*.ttf
*.lsb
*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg
*.fbx
*.lsm

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt
ReConHistory.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl
*.psd
*.xcf
*.blend*
*.spp
*.assbin

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk
Editor/Mods/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/Assets/Effects/ReConHistory.txt
Mods/WeaponExpansion_c60718c3-ba22-4702-9c5d-5ad92b41ba5f/Story/story.debugInfo
*.mb
_ProjectFiles/Backup_LocalKeys_Statuses_Runeblades_WithPercentages.txt
